#contain{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#content{
  position: absolute;
  top: 0;
  right: 200px;
  bottom: 0;
  left: 0;
}
#content_show{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 140px;
  right: 0;
}
#content_saying{
  position: absolute;
  left: 0;
  bottom: 0;
  height: 140px;
  right: 0;
}
#users_online{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 200px;
}
#toolbar{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 30px;
  background: #aaa;
  background: rgba(0,0,0,0.2);
}
#usersbar{
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  bottom: 5px;
  background: #fff;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-box-shadow:-2px 2px 5px #292929;
  -moz-box-shadow:-2px 2px 5px #292929;
  box-shadow:-2px 2px 5px #292929;
}
#user_label{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height:30px;
  border-top-left-radius: 5px;
  background: #aaa;
  background: rgba(0,0,0,0.4);
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  color: #eee;
}
#users_list{
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom-left-radius: 5px;
  padding: 10px 0 10px 10px;
}
#users_list ul{
  width:100%;
  height:100%;
  list-style: none;
  overflow-x:hidden;
  overflow-y:scroll;
}
#users_list ul li{
  width: 155px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 25px;
  line-height: 25px;
  padding: 0 5px;
  cursor: pointer;
  border-bottom: 1px dashed #666;
}
#users_list ul li:hover{
  background: #eee;
  background:  rgba(0,0,0,0.2);
  border-radius: 5px;
}
.sayingto{
  background: #ddd;
  background: rgba(0,0,0,0.3);
  border-radius: 5px;
  color: #39F;
}
#contents{
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background: #eee;
  background: rgba(0,0,0,0.1);
  border-radius: 5px;
  padding: 10px;
  overflow: auto;
}
#input_content{
  position: absolute;
  top: 35px;
  left: 5px;
  right: 105px;
  bottom: 30px;
  border-top-left-radius: 5px;
  outline: none;
  padding: 10px;
  overflow:auto;
  background: #eee;
  background: rgba(0,0,0,0.1);
}
#sayingto{
  background: #999;
  background: rgba(0,0,0,0.3);
  position: absolute;
  left: 5px;
  right: 105px;
  bottom: 5px;
  height: 25px;
  line-height: 25px;
  padding: 0 10px;
  border-bottom-left-radius: 5px;
}
#from
{
  color:#F90;
  font-weight:bold;
}
#to{
  color:#39F;
  font-weight:bold
}
#say{
  position: absolute;
  top: 35px;
  right: 5px;
  bottom: 5px;
  width: 100px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  text-align: center;
  line-height: 100px;
  font-size: 24px;
  font-weight: bolder;
  font-family: "幼圆","微软雅黑","黑体","宋体";
  color: #eee;
  background: #666;
  background: rgba(0,0,0,0.5);
}


@charset "UTF-8";
/*----------------------------------------------------------------------------------- */
/*  Mixins/variables */
/*----------------------------------------------------------------------------------- */
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1; }

/*----------------------------------------------------------------------------------- */
/*  Document Setup */
/*----------------------------------------------------------------------------------- */
* {
  outline: 0 !important; }

html, body {
  width: 100%; }

html {
  height: 100%; }

body {
  font-family: "Lato", sans-serif !important;
  color: #666666;
  background: #e8e8e8;
  padding-top: 140px;
  min-height: 100%; }

.main-content {
  padding-bottom: 20px; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 0 15px;
  font-weight: 300; }

h3 {
  line-height: 1.4em; }

p {
  margin: 0 0 15px; }
  p.lead {
    font-weight: 300; }

strong {
  font-weight: 700; }

a {
  color: #007aff; }
  a:hover {
    color: #666666;
    text-decoration: none; }

ul.no-style {
  list-style: none;
  padding: 0;
  margin-left: 0; }

li {
  margin-bottom: 5px; }

blockquote {
  margin-bottom: 30px; }
  blockquote p {
    margin-bottom: 10px; }
  blockquote.pull-right {
    text-align: right; }

dl {
  margin: 0 0 20px; }
  dl dd {
    margin-bottom: 15px; }

::-moz-selection {
  background: #007aff;
  color: white;
  text-shadow: none; }

::selection {
  background: #007aff;
  color: white;
  text-shadow: none; }

::-webkit-scrollbar {
  width: 8px; }

::-webkit-scrollbar-thumb {
  background: #bbbbbb;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 5px; }

::-webkit-scrollbar-track {
  background: #dddddd;
  background: rgba(0, 0, 0, 0.05); }
  
/*----------------------------------------------------------------------------------- */
/*  Widget-Container */
/*----------------------------------------------------------------------------------- */
.widget-container {
  min-height: 320px;
  background: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }
  .widget-container.fluid-height {
    height: auto;
    min-height: 0; }
  .widget-container.small {
    min-height: 120px;
    height: 200px; }
  .widget-container.gallery {
    min-height: 400px; }
  .widget-container .heading {
    background: rgba(255, 255, 255, 0.94);
    height: 50px;
    padding: 15px 15px;
    color: #007aff;
    font-size: 15px;
    width: 100%;
    font-weight: 400;
    margin: 0; }
    .widget-container .heading [class^="icon-"], .widget-container .heading [class*="icon-"] {
      margin-right: 10px;
      font-size: 14px; }
      .widget-container .heading [class^="icon-"].pull-right, .widget-container .heading [class*="icon-"].pull-right {
        margin-right: 0px;
        margin-left: 15px;
        opacity: 0.35;
        font-size: 1.1em; }
      .widget-container .heading [class^="icon-"]:hover, .widget-container .heading [class*="icon-"]:hover {
        cursor: pointer;
        opacity: 1; }
  .widget-container .tabs {
    background: whitesmoke;
    border-bottom: 1px solid #dddddd; }
  .widget-container .widget-content {
    width: 100%; }
  .widget-container.scrollable {
    position: relative;
    height: 400px;
    padding-top: 50px; }
    .widget-container.scrollable.chat-home {
      height: 427px; }
    .widget-container.scrollable .heading {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10; }
    .widget-container.scrollable .shadow {
      box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1); }
    .widget-container.scrollable .widget-content {
      height: 100%;
      position: relative;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch; }

.padded {
  padding: 15px; }

/*----------------------------------------------------------------------------------- */
/*  Chat widget */
/*----------------------------------------------------------------------------------- */
.chat {
  padding-bottom: 52px; }
  .chat .widget-content {
    padding-right: 20px;
    background-color: white; }
    .chat .widget-content .scrollbar-path-vertical {
      bottom: 56px !important; }
    .chat .widget-content ul {
      list-style: none;
      padding: 0; }
      .chat .widget-content ul li {
        margin-bottom: 14px;
        padding-left: 40px;
        padding-right: 80px;
        position: relative; }
        .chat .widget-content ul li:last-child {
          margin-bottom: 0; }
        .chat .widget-content ul li img {
          position: absolute;
          bottom: -2px;
          left: 0;
          border-radius: 50%; }
        .chat .widget-content ul li .bubble {
          padding: 12px 15px;
          background: #e5e5ea;
          border-radius: 15px;
          position: relative; }
          .chat .widget-content ul li .bubble:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: -5px;
            background: url("../images/chat-left.png") left top no-repeat;
            width: 13px;
            height: 13px;
            display: block; }
            @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
              .chat .widget-content ul li .bubble:after {
                background-image: url("../images/chat-left@2x.png");
                background-size: 13px 13px; } }
          .chat .widget-content ul li .bubble .user-name {
            font-size: 1.1em;
            margin-bottom: 8px;
            display: inline-block; }
          .chat .widget-content ul li .bubble p.message {
            font-size: 0.95em;
            margin-bottom: 12px;
            color: #333333; }
          .chat .widget-content ul li .bubble .time {
            font-size: 0.8em;
            color: #888888;
            margin-bottom: 0; }
        .chat .widget-content ul li.current-user {
          padding-right: 40px;
          padding-left: 80px; }
          .chat .widget-content ul li.current-user img {
            right: 0;
            left: auto; }
          .chat .widget-content ul li.current-user .bubble {
            background: #178efe; }
            .chat .widget-content ul li.current-user .bubble:after {
              background: url("../images/chat-right.png") left top no-repeat;
              left: auto;
              right: -6px; }
              @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
                .chat .widget-content ul li.current-user .bubble:after {
                  background-image: url("../images/chat-right@2x.png");
                  background-size: 13px 13px; } }
          .chat .widget-content ul li.current-user p, .chat .widget-content ul li.current-user a {
            color: white !important; }
          .chat .widget-content ul li.current-user .time {
            opacity: 0.75; }
  .chat .post-message {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 52px;
    padding: 8px 60px 8px 8px;
    background: #f2f2f2;
    border-top: 1px solid #cccccc; }
    .chat .post-message input[type="text"] {
      width: 100%;
      height: 100%; }
    .chat .post-message input[type="submit"] {
      position: absolute;
      top: 12px;
      right: 10px;
      margin: 0;
      border: 0;
      background: transparent;
      color: #007aff;
      font-weight: 600;
      font-size: 14px; }

.widget-container.chat-page {
  height: 700px;
  padding: 0 0 102px 222px;
  position: relative;
  background-color: #f2f2f2; }
  .widget-container.chat-page .contact-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 222px;
    height: 100%;
    border-right: 1px solid #dddddd;
    padding-top: 50px; }
    .widget-container.chat-page .contact-list .heading {
      background-color: transparent;
      color: #777777;
      border-bottom: 1px solid #d6d6d6;
      font-size: 16px;
      padding-top: 12px;
      padding-bottom: 14px;
      background-color: #f2f2f2;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%; }
      .widget-container.chat-page .contact-list .heading i {
        margin-top: 4px;
        font-size: 1em; }
    .widget-container.chat-page .contact-list ul {
      list-style: none;
      padding-left: 15px;
      margin: 0;
      overflow-y: auto;
      overflow-x: hidden;
      height: 100%; }
      .widget-container.chat-page .contact-list ul li {
        border-bottom: 1px solid #d6d6d6;
        margin: 0; }
        .widget-container.chat-page .contact-list ul li a {
          display: block;
          position: relative;
          left: -15px;
          width: 220px;
          padding-left: 15px;
          padding: 8px 0 8px 15px;
          color: #888888; }
          .widget-container.chat-page .contact-list ul li a:hover {
            background-color: #e6e6e6;
            color: #666666; }
        .widget-container.chat-page .contact-list ul li img {
          border-radius: 50%;
          margin-right: 10px; }
        .widget-container.chat-page .contact-list ul li i {
          font-size: 12px;
          float: right;
          margin: 9px 20px 0 0; }
  .widget-container.chat-page > .heading {
    position: relative !important; }
  .widget-container.chat-page .post-message {
    position: relative; }

.current-user .font_avator{
    right: 0;
    left: auto;
}
.font_avator{
  position: absolute;
  bottom: -13px;
  border-radius: 50%;
  left: 0;
  background-color: #60c560;
  font-size: 20px;
  width: 30px;
  text-align: center;
  line-height: 30px;
  color: #fff;
}
.lsit_font_avator{
  line-height: 30px;
  height: 30px;
  font-size: 14px;
  display: inline-block;
  width: 30px;
  text-align: center;
  background-color: red;
  border-radius: 50%;
  background-color: #60c560;
  margin-right: 10px;
}